.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log
*.list
fpconfig/*
*.out
*.xml
*.txt
*.con
*.idepth
*.table
*.ldepth.mean
*.ftpconfig
log/*
data/derived_data/joint_genotyping/genotyping_cohorts/*
data/raw_data/*
data/derived_data/metadata/bovine_demo.sample_metadata.csv
data/derived_data/metadata/xml_scraping/*
data/derived_data/metadata/categorizing/*
data/derived_data/metadata/coverage/*
data/derived_data/joint_genotyping/*.csv
*.tbi
*.gz
scratch.Rmd
*.tsv
*.variant_calling_detail_metrics
*.variant_calling_summary_metrics
*.targets
*.bed
*.bim
*.fam
*.nosex
*.DS_Store
*.xlsx
*.sexcheck