.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log
*.list
fpconfig/*
*.out
*.xml
*.txt
*.con
*.idepth
*.table
*.ldepth.mean
*.ftpconfig
log/*
data/derived_data/joint_genotyping/genotyping_cohorts/*
data/raw_data/*
